
@{
    //view độc lập không sử dụng layout
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>thông tin học viên</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container-fluid">
        <h2 class="page-header">
            thông tin học viên
        </h2> 
        <p>Họ Tên: Nguyễn Thanh Bình</p>
        <p>Email: binh@gmail.com</p>
    </div>
</body>
</html>
