@model DienMayws.Models.HoaDon
@{
    ViewBag.Title = "DatHangThanhCong";
    Layout = "~/Views/Shared/_DienMayLayout.cshtml";
}
<div class="container box" style="margin:20px auto;">
    <h2 class="page-header">Thông báo</h2>
    <h3>
        Đơn đặt hàng của bạn đã hoàn tất.<br />
        Số hóa đơn: @Model.HoaDonID
    </h3>

</div>
