
@{
    ViewBag.Title = "TestDienMayLayout";
    Layout = "~/Views/Shared/_DienMayLayout.cshtml";
}

<div class="container" style="height: 300px">
    <h2>Test DienMay Layout</h2>
</div>


@section Styles{
    <style>
        h2{color:red;font-size:1.3em;}
    </style>
    }