@model DienMayws.Models.Loai

@{
    ViewBag.Title = "Delete";
}

<h2 class="page-header">Xoá thông tin - Loại</h2>

<h3>Bạn có thực sự muốn xoá thông tin này?</h3>
<div>
    <h4>Thông tin chi tiết</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ten)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ten)
        </dd>


    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Đồng ý" class="btn btn-default" /> |
            @Html.ActionLink("Trở Lại", "Index",null,htmlAttributes:new { @class="btn btn-default"})
                
        </div>
    }
</div>
